<h1>Users in the Database</h1>
<% @dogs.each do |u| %>
  Name: <p> <%= link_to u.name, dog_path(u) %> </p> <!-- Show the dogs name-->
  Email : <p> <%= u.age %> </p>
<% end %>
<%= link_to "new", dogs_new_path %>
